.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto 30px;
    border: 7px solid #f1f1f1;
    border-top: 7px solid #FF7A59;
    animation: spinner 2s linear infinite;
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }